<!DOCTYPE html>
<html>
  <head>
    <title>Friends</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
      // Define a list item
      function friendListItem(name,id) {
        var s = name;
        var itemId = "friendListItem_"+id;
        s = s + '<br>';
        s = s + '<button> invite </button>';
        s = s + '<button> edit </button>';
        var action = "removeFriend('"+name+"','"+itemId+"')";
        s = s + '<button onclick='+action+'> delete </button>';
        s = '<div>' + s + '</div>';
        s = '<li id=\''+itemId+'\'>' + s + '</li>';
        return s;
      };
      // Remove a friend
      function removeFriend(name,itemId) {
        $.post("/user/<%= userId %>/friends/remove",{'removeFriendWithName':name},
           function(response) { // handles the response
             // TODO: Check the response to ensure everything worked.
             $("#"+itemId).remove();
           });
      };
      // Get the user's list of friends and populate the list
      $(document).ready(function() {
        $.getJSON("/user/<%= userId %>/friends/get",function(data) {
	  for (var i=0; i<data.friends.length; i++) {
            var name = data.friends[i];
	    $("#friend_list").append(friendListItem(name,name));
	  }
        });
      });
      // Add a friend
      $(document).ready(function() {
        $("#add_friend_textbox").on("keypress", function(e) {
	  if (e.keyCode == 13) /* enter key pressed */ {
	    var friendName = $("#add_friend_textbox").val();
	    $("#add_friend_textbox").val("");
	    $("#friend_list").append(friendListItem(friendName,friendName));
	    return false; // prevent the keypress from triggering further
	  }
	});
      });
    </script>
  </head>
  <body>
    <div id="friend_list_div" style="background:aqua; float:left; width:200px; height: 500px; position:relative;">
      <ul id="friend_list">
      </ul>
      <div id="add_friend_div" style="position:absolute; bottom:0; height:50px">
        Add a friend:
        <input type="text" id="add_friend_textbox" style="width:150px">
	</input>
      </div>
    </div>
    <div id="main_content" style="margin:20px; float=left">
      Hi, <%= userId %>
    </div>
  </body>
</html>
